@import 'main_styles';

.header {
  background-image: url(./images/header_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 1024px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 217px;
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 44px;
    text-decoration: none;
  }

  &__button {
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 74px;
    padding-right: 74px;
    box-sizing: border-box;
    border: none;
    transition: all 500ms ease;
  }

  &__button:hover {
    transform: skew(-20deg);
  }
}

.games {
  background-image: url(./images/games_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 556px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;

  &__block {
    border-radius: 18px;
    width: 378px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    transition: all 0.3s;
  }

  &__block:hover {
    box-shadow: 0 0 10px #FFFFFF;
    box-shadow: 0 0 10px #FFFFFF;
    transform: scale(1.05);
    transform: scale(1.05);
  }

  &__block1 {
    background-image: url(./images/game_1.jpg);
  }

  &__block2 {
    background-image: url(./images/game_2.jpg);
  }

  &__block3 {
    background-image: url(./images/game_3.jpg);
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 32px;
    margin-left: 32px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.seasons {
  background-image: url(./images/bg_seasons.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 233px;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 584px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
  }

  &__console {
    transition: all 0.3s;
  }

  &__console:hover {
    box-shadow: 0 0 10px #FFFFFF;
    box-shadow: 0 0 10px #FFFFFF;
    transform: scale(1.05);
    transform: scale(1.05);
  }
}

@media (max-width: 426px) {
  .center {
    padding-left: calc(50% - 171px);
    padding-right: calc(50% - 171px);
  }

  .header {
    height: 735px;

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      padding-top: 238px;
    }

    &__text {
      text-align: center;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;

      br {
        display: none
      }
    }

    &__button {
      align-self: center;
    }
  }

  .games {
    height: 1221px;
    align-content: flex-start;

    &__block1 {
      margin-top: 128px;
    }
  }

  .seasons {
    padding-top: 51px;

    &__left {
      text-align: center;
    }

    &__console {
      width: 344px;
    }

    &__title {
      font-size: 32px;
      line-height: 39px;
    }

    &__text {
      width: 343px;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
    }
  }
}