body{
  background-color: gray;
  display: grid;
  grid-template-areas: ". a a a a a" ". b b c c c" ". b b c c c" ". e e e e e";
  height: 600px; 
  gap: 30px 20px;
  /* justify-items: start; */
  text-align: center;
  /* justify-content: center;
  align-items: center; */
}

.header{
  background-color: blue;
  grid-area: a;
}

.logo{
  background-color: #fff;
  grid-area: b;
}

.section{
  grid-area: e;
  background-color: blueviolet;
}

.footer{
  background-color: green;
  grid-area: c;  
}